ul
{
    line-height: 38px;
    font-size: 23px;
    padding-top: 10px;
    padding-top: 7px;
    font-family: Goudy Old Style;
    font-weight: bold;
}
h2
{
    margin-top: 50px;
    margin-left: 40px;
}
i{
    color: #b30000;
}