.main h2
{
    margin-top: 60px;
    /* padding-top: 40px; */
    margin-left: 40px;
    /* padding-left: 40px; */

}
.main2 img
{
     width: 400px; 
     height: 400px; 
    margin-left: 30px;
    border-radius: 300px;
    /* background-color: gray; */
}
.main p
{
    margin-left: 70px;
    font-size: 18px;
}
.main ul
{
    margin-left: 70px;
    padding-top: 0px;
    font-size: 18px;
}
.main2 figcaption
{
    font-weight: bold;
    font-size: 22px;
    margin-left: 140px;
}
i
{
    color: #b30000;
}
